* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Formular", sans-serif;
  --third-family: "Aeonik Pro", sans-serif;
}

body {
  background: #f4f4f4;
}
header {
  padding: 40px;
}
main {
  margin: 0 40px;
}
footer {
  padding: 40px;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 97px;
  row-gap: 61px;
}
.header-main {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: 70px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
}
.nav-list > li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.header-right-white {
  border-radius: 100px;
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
}
.shrink {
  flex-shrink: 0;
}

.header-right__city {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
  opacity: 0.5;
  margin-bottom: 8px;
}

.header-right__phone {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
}
.link-format {
  text-decoration: none;
}

.first-block-blue-bg {
  height: 736px;
  border-radius: 30px;
  margin: 112px 0 187px;

  background-image: url(../assets/content/dots-bg.png),
    linear-gradient(321deg, #087dff 0%, #060c47 100%);
  background-size: cover, contain; /* или другие значения */
  background-repeat: no-repeat, repeat; /* или другие значения */
  background-position: center, top left; /* или другие значения */

  position: relative;
}
.first-block-blue-bg-overflow {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.h1-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 30px 0;
}
.h1-subtext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}
.blue-bg-main-text {
  margin-left: 62px;
}
.fly-element {
  position: absolute;
}
.first-fly-element {
  bottom: -550px;
  right: -800px;
  transform: translate(-50%, -50%);
}

.second-fly-element {
  bottom: -312px;
  right: 200px;
  transform: translate(-50%, -50%);
}
.third-fly-element {
  top: 120px;
  right: -250px;
  transform: translate(-50%, -50%);
}

.why-choise-box {
  display: flex;
}
.why-choise__element {
  width: 50%;
}

.second-section-home_title,
.standart_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 55px;
  line-height: 120%;
  color: #000;
  margin: 0;
}
.advantages-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantage {
  border-radius: 30px;
  padding: 40px 56px;
  width: calc(50% - 15px);
  background: #fff;
}
.advantage__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  margin: 0;
}

.advantage__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #000;
  margin: 40px 0 0 0;
}
.advantage__customers {
  display: flex;
  width: calc(100% - 42px);
}
.advantage__customers_more {
  background: #eee;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #003acb;
}
.customer-get-left-2 {
  transform: translateX(-14px);
}
.customer-get-left-3 {
  transform: translateX(-28px);
}
.customer-get-left-4 {
  transform: translateX(-42px);
}

.advantages-cards-container {
  margin-top: 150px;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  flex-direction: column;
  height: 2210px;
}
.advantages-cards-container > div {
  width: calc((100% / 3) - 10px);
}
.advantages-cards-container > div:nth-child(5) {
  margin-top: 120px;
}

.advantages__big-blue-card {
  background: linear-gradient(321deg, #087dff 0%, #060c47 100%);
  height: 500px;
  padding: 54px 42px;
  border-radius: 30px;
}
.advantages__big-blue-card,
.advantages__big-white-card {
  overflow: hidden;
  position: relative;
}
.big-blue-card__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #fff;
}
.big-blue-card__button {
  border-radius: 100px;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.25);
  width: fit-content;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-top: 36px;
}
.advantages__big-white-card {
  background: #fff;
  height: 500px;
  padding: 54px 42px;
  border-radius: 30px;
}
.big-white-card__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #000;
}

.big-white-card__button {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000;
  background: #f4f4f4;
  border-radius: 100px;
  padding: 15px 30px;
  width: fit-content;
  margin-top: 36px;
}

.big-blue-card__image,
.big-white-card__image {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.standart-margin-section {
  margin-top: 120px;
}
.third-s-title-box__mounth {
  border-radius: 100px;
  padding: 20px 30px;
  background: #fff;
  width: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #003acb;
}
.third-s-title-box {
  display: flex;
  gap: 30px;
}

.white-zone-calendar-home {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 50px 120px;
  background: #fff;
  margin-top: 43px;
}
.white-calendar__list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}
.white-calendar__left,
.white-calendar__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.white-calendar__mid {
  width: 1px;
  background: #a4a5a8;
}

.white-calendar__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #40444e;
}
.white-calendar__date {
  background: #f4f4f4;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #003acb;
}

.four-s-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.four-s-title-box__mounth {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
}
.four-s-title-box__mounth_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
}

.articles-prewiew-box {
  display: flex;
  height: 497px;
  justify-content: space-between;
  margin-top: 40px;
}
.article-preview__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000;

  border-radius: 100px;
  padding: 15px 30px;
  width: 135px;
  height: 55px;
  background: #fff;
  position: absolute;
  bottom: 31px;
  right: 34px;
}
.articles-prewiew-box__article {
  border-radius: 30px;
  background-position: center;
  background-size: cover;
}
.articles-prewiew-box__article-1 {
  width: calc(50% - 20px);
  position: relative;
}
.articles-prewiew-box__article-3,
.articles-prewiew-box__article-2 {
  width: calc(25% - 20px);
  position: relative;
}
.articles-prewiew-box__article-1 {
  background-image: url(../assets/content/article-preview-1.png);
}
.articles-prewiew-box__article-2 {
  background-image: url(../assets/content/article-preview-2.png);
}
.articles-prewiew-box__article-3 {
  background-image: url(../assets/content/article-preview-3.png);
}

.social-webs-footer {
  display: flex;
  gap: 10px;
  margin-top: 33px;
}
.social-webs-footer__square {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 10px;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button-contact-us {
  border-radius: 15px;
  padding: 18px 30px;
  width: 265px;
  height: 67px;
  background: #003acb;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.contacts-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.contacts-footer__number a {
  text-decoration: none;
  color: #333;
}
.contacts-footer__number,
.contacts-footer__city {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts-footer__number {
  margin-left: 34px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
.contacts-footer__city {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #a9a9a9;
}
.footer-link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-link-list__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #003acb;
  margin-bottom: 20px;
}
.footer-link-list__link a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333;
  text-decoration: none;
}

.footer-link-list__link a:hover {
  color: #003acb;
}
.footer-link-list__link {
  display: flex;
  gap: 8px;
}
.footer-link-list__link svg {
  flex-shrink: 0;
}
.dottet-list-footer {
  list-style: none;
  width: calc(70% - 100px);
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.dottet__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}
.dottet__text a {
  text-decoration: none;
  color: #333;
}
.dottet__text a:hover {
  color: #003acb;
}
.dottet__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.license-footer {
}
.footer-column-1,
.footer-column-2,
.footer-column-3 {
  width: 18%;
}
